<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <meta name="title" content="{{site_title}}">
    <meta name="author" content="{{author}}">
    <meta name="description" content="{{description}}">
    <meta name="keywords" content="rss, feeds, opml">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.svg') }}" />

    <title>{{site_title}}</title>

    <!-- AdminLTE Documentation -->
    <!-- https://adminlte.io/themes/v3/iframe.html?# -->

    <!-- Import CSS Libraries -->

    <!-- IonIcons --><link rel="stylesheet" href="{{ url_for('static', filename='css/ionicons.min.css') }}">
    <!-- Google Font: Source Sans Pro --><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome --><link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}">
    <!-- AdminLTE 3.1.0 CSS   --><link rel="stylesheet" href="{{ url_for('static', filename='css/adminlte.min.css') }}">
    <!-- overlayScrollbars --><link rel="stylesheet" href="{{ url_for('static', filename='css/OverlayScrollbars.min.css') }}">

</head>

