<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">

<!-- Brand Logo -->
<a href="index3.html" class="brand-link">
    <img src="{{ url_for('static', filename='images/Rss_Icon.svg')}}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: 0.8"/>
    <span class="brand-text font-weight-light">Python Feed Reader</span>
</a>

<!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    
    
    <!-- SidebarSearch Form -->
    
    
    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        
    
        <li class="nav-header">Categories</li>
        
        <li class="nav-item">
            <a href="pages/gallery.html" class="nav-link">
                <img src="{{ url_for('static', filename='images/category_blogs.svg')}}" alt="" class="nav-icon">
                <p>Blogs</p>
                <span class="badge badge-info right">5</span>
            </a>
        </li>
    
        <li class="nav-item">
            <a href="pages/kanban.html" class="nav-link">
                <img src="{{ url_for('static', filename='images/category_news.svg')}}" alt="" class="nav-icon">
                <p>News</p>
            </a>
        </li>
        
        <li class="nav-item">
            <a href="iframe.html" class="nav-link">
            <img src="{{ url_for('static', filename='images/category_podcast.svg')}}" alt="" class="nav-icon">
            <p>Podcasts</p>
            </a>
        </li>
    
        <li class="nav-item">
            <a href="https://adminlte.io/docs/3.1/" class="nav-link">
            <img src="{{ url_for('static', filename='images/category_videos.svg')}}" alt="" class="nav-icon">
            <p>Videos</p>
            </a>
        </li>        
        
        
        
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
    
</aside>
