<!DOCTYPE html>

<html lang="en" style="height: auto" class="">

    {% include 'components/header.html' %}

    <body class="sidebar-mini dark-mode" style="height: auto">

        <div class="wrapper">

            {% include 'components/navbar.html' %}

            {% include 'components/sidebar.html' %}



            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper" style="min-height: 528px">

                {% include 'components/content_header.html' %}

                <!-- Main content -->
                <div class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <div class="card-header border-0">
                                        <div class="d-flex justify-content-between">
                                            



                                            <h3 class="card-title">CONTENT</h3>
                                        

                                            {% include 'modals/modal_import_opml.html' %}


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.content -->

            </div>
            <!-- /.content-wrapper -->

            {% include 'components/footer.html' %}


        </div>
        <!-- ./wrapper -->
    </body>
</html>




